*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --marginHeader :40px;
    --spanFont :25px;
    --fontBold :bold;
    --letter-spacing:2px;
    --marginSection :90px;
   
}
 /* start header style  */
.Features {
    text-align: center;
    margin: var(--marginHeader);

}
/* span style  */
.Features span {
    font-size: var(--spanFont);
    color: #EF3A75;
    font-weight: var(--fontBold);
    letter-spacing:var(--letter-spacing);

}
/* h1 style  */
.Features h1 {
 margin-top: 10px;
 font-size: 50px;
}
/* end header style */
/* :start section style  */
.styles{
    margin: var(--marginSection);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
  

}
.styles .brand {
    border-radius: 40px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03),
        0 20px 40px rgba(0, 0, 0, 0.08);;
    height: 350px;
    padding: 30px;
    text-align: center;
    line-height: 35px;
}
/* end section style  */


.styles .brand .fa-solid {
    color :#EF4271;
    font-size: 80px;
    margin-bottom: 50px;



}
.styles .brand.Quality{
   position: relative;
   top: 60px;
}
.styles .brand h2 {
 font-size: 30px;
 margin-bottom: 20px;
}
.styles .brand p {
 font-size: 20px;
}